<div *ngIf="customer" class="card shadow-md mb-4">
  <div class="card-header bg-primary text-white">Customer Details</div>
  <div class="card-body">
    <p><strong>Email:</strong> {{ customer.email }}</p>
    <p><strong>Orders:</strong> <span class="badge bg-primary">{{ customer.ordersCount }}</span></p>
    <p><strong>Assemblies:</strong> <span class="badge bg-success">{{ customer.pcAssembliesCount }}</span></p>
    <p><strong>Deliveries:</strong> <span class="badge bg-info">{{ customer.deliveriesCount }}</span></p>
    <p><strong>Maintenances:</strong> <span class="badge bg-warning">{{ customer.maintenancesCount }}</span></p>
  </div>
</div>